NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://127.0.0.1:5180

AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

S3_ORIGINALS_BUCKET=auralis-originals-yourname
S3_THUMBNAILS_BUCKET=auralis-thumbnails-yourname
UPLOAD_URL_TTL_SECONDS=600
DOWNLOAD_URL_TTL_SECONDS=600

DB_HOST=your-rds-endpoint.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=auralis_app
DB_PASSWORD=replace-me
DB_NAME=auralis
